<p>
  <b>Name:</b>
  <%=h @filter_sample_preparation.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @filter_sample_preparation.description %>
</p>


<%= link_to 'Edit', edit_filter_sample_preparation_path(@filter_sample_preparation) %> |
<%= link_to 'Back', filter_sample_preparations_path %>
