<%= form_for(@water_use) do |f| %>
  <% if @water_use.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@water_use.errors.count, "error") %> prohibited this water_use from being saved:</h2>

      <ul>
      <% @water_use.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
