<%= form_for(@land_use_mapping) do |f| %>
  <% if @land_use_mapping.errors.any? %>
    <div id="error_explanation">
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
