<p>
  <b>Name:</b>
  <%=h @land_use_mapping.name %>
</p>
<p>
  <b>Description:</b>
  <%=h @land_use_mapping.note %>
</p>


<%= link_to 'Edit', edit_land_use_mapping_path(@land_use_mapping) %> |
<%= link_to 'Back to list', land_use_mappings_path %>

