

<div style="background-color: #aaaaaa;vertical-align:midlle; horizontal-align:center;
border: dashed 2px gray; padding: 10px; margin:10px; color: #0E4087; " >
<h1 style="color: #0E4087;">Home page</h1>

<h1 style="color: #0E4087;">MicroAqua FP7 project</h1>
<h2 style="color:blue; font-style:Tahoma;">Innovative aquatic biosensors</h2>
</div>


    <p style="display:none;">
      <a href="http://microaqua.eu/">Microaqua project Home</a>
     </p>

<div style="display:none;">
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
</div>

