<p>
  <b>Name:</b>
  <%=h @sampling_equipment.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @sampling_equipment.description %>
</p>


<%= link_to 'Edit', edit_sampling_equipment_path(@sampling_equipment) %> |
<%= link_to 'Back', sampling_equipments_path %>