<%= form_for(@microarraygpr) do |f| %>
  <% if @microarraygpr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@microarraygpr.errors.count, "error") %> prohibited this microarraygpr from being saved:</h2>

      <ul>
      <% @microarraygpr.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
